{% extends 'layout.html' %}

{% block body %}

<div class="container">

    <div class="d-flex justify-content-center">
        <form action="" method="POST">
          {% csrf_token %}
            <div class="form-group">
              <label for="first">First name</label>
              <input class="form-control" type="text" name="first" id="first">
            </div>
            <div class="form-group">
                <label for="second">Second name</label>
                <input class="form-control" type="text" name="second" id="second">
            </div>
            <div class="form-group">
                <label for="enroll">Any flights enroll?</label>
                <select multiple name="enroll" id="enroll" class="form-control">
                  {% for flight in flights %}
                  <option value="{{flight.id}}">O: {{flight.origin}} {{flight.origin.code}} D: {{flight.destination}} {{flight.destination.code}}</option>
                  {% endfor %}
                </select>
            </div>

            <div class="row mt-2 justify-content-end">
              <button type="submit" class="btn btn-primary">Add traveller</button>
            </div>
            
        </form>
    </div>

</div>


{% endblock %}